<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>阿超的个人网站 - Chao's Personal Website</title>
        <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>
    </head>

    <body>
        <h1>error code {{status}}</h1>
        <h2>{{message}}</h2>
    </body>

</html>